.mainhome{
    /* background: #6ac798; */
    background: 	#0F172A ;
    color: #4ADE80;
}
.section- {
  opacity: 0;
  transform: translateY(30px);
  animation: slideUp 0.8s ease-out forwards;
}
.section-:hover {
  color: #00753b !important;
  cursor: pointer;
}
@keyframes slideUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.card-container {
  display: flex;
  justify-content: center;  /* Optional: centers the row */
  gap: 20px;                /* space between cards */
  flex-wrap: wrap;          /* stack on small screens */
  padding: 20px;
   
   padding-bottom: 100px;
   padding-top: 80px;
}

.custom-card {
  background-color: #f5f5f5;
  padding: 20px;
  width: 300px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}


.custom-card:hover {
  transform: translateY(-5px);
  background-color: #e8f5e9; /* optional hover effect */
}

.card-title {
  font-size: 4rem;
text-align: center;
 
 
}

.card-subtitle {
  font-size: 1.4rem;
  color: #302d2d;
  margin-bottom: 12px;
}

.card-text {
  font-size: 1rem;
  color: #797878;
  font-style: italic;
  font-weight: 600;
}
.lastsection{
    align-items: center;
    text-align: center;
padding: 15px 0 20px 0;
}
.finaltext{
    font-size: 1.4rem;
 font-style: italic;
 font-weight: 600;
 color: #f5f5f5;
}
.finaltext:hover{
       color: #00753b !important;
  cursor: pointer;

}
.finalh3{
    font-size: 2rem;
 font-style: oblique;
 font-weight: 600;
 color: #f5f5f5;
}
.finalh3:hover{
           color: #00753b !important;
  cursor: pointer;
}